/* this will apply to <body> */
html {
    width: 100%;
}

:global(body) { 
     margin: 0;
     padding: 0;
     width: 100%;
 }

 .section {
    position: relative;
    display: block;
    height: 100vh;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;  
}

.text-large {
    font-family: 'Ring of Kerry';
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}

.text-small {
    font-family: 'Ring of Kerry';
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.divider-section {
    height: 5vh;
    width: 100vw;
}

.bold {
    font-weight: 800;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .responsive-layout {
        max-width: 600px;
        font-size: 12px;
    }

    .details-background {
        display: none;
    }

    .text-large {
        font-family: 'Ring of Kerry';
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
    }
    
    .text-small {
        font-family: 'Ring of Kerry';
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .responsive-layout {
        max-width: 768px;
        font-size: 16px;
    }

    .intro-content {
        justify-content: flex-start;
        align-content: flex-start;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .responsive-layout {
        max-width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 18px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .responsive-layout {
        max-width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 18px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .responsive-layout {
        max-width: 90vw;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 18px;
    }
}